<p id="notice"><%= notice %></p>
<script>
  jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>
<div class="table-responsive">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h1>Equipos Participantes</h1>
      <p> <a href="/tabla/preferencias">Click aqui para ver la preferencia de nuestros usuarios! </a></p>
      <table class="table table-hover table-bordered" cellpadding="15">
        <thead>
          <tr align="center">
            <th><font color="#000000">Nombre</th>
            <th><font color="#000000">Apodo</th>
            <th><font color="#000000">Escudo</th>
            <th><font color="#000000">Grupo</th>
            <% if user_signed_in? && current_user.admin%>
            <th colspan="3"></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @countries.each do |country| %>
            <tr align="center" class="clickable-row" data-href="countries/<%= country.id %>">
              <td><font color = "#000000"><img src="<%= country.bandera%>I.jpg"></td>
              <td><font color = "#000000"><%= country.apodo %></td>
              <td><font color = "#000000"><%= image_tag country.escudo  %></td>
              <td><font color = "#000000"><%= country.grupo %></td>
              <% if user_signed_in? && current_user.admin%>
              <td><font color = "#000000"><%= link_to 'Editar', edit_country_path(country) %></td>
              <td><font color = "#000000"><%= link_to 'Borrar', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <!--<%= link_to 'New Country', new_country_path %>-->
    </div>
  </div>
</div>
